@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


nav {
  top: 0;
  left: 0;
  right: 0;
  width: 99vw;
  background-color: white;
  display: flex;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  /* gap: 357px; */
}

@media (max-width: 375px) {
  nav {
    width: 100vw;
    padding: 20px 80px;
  }
}

.nav--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 483px;
  height: 48px;
  color: black;
  /* margin-right: auto; */
}

.nav--left--first {
  gap: 4px;
    width: 142px;
    height: 48px;
}

@media (max-width: 375px) {
  .nav--left--first {
    width: 30vw;
    margin-left: -50px;
  }
}

.nav--left--first img {
  width: 100%;
}

.nav--left--second {
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 27px;
    width: 301px;
    height: 24px;
}

.nav--left--second a {
  color: black;
}

@media (max-width: 700px) {
  .nav--left--second {
    display: none;
  }
}


.nav--left--second a {
  text-decoration: none;
}

.nav--right {
  /* position: relative; */
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px;
    gap: 24px;
    /* margin-right: -60px; */
    /* width: 705px; */
    width: 100%;
    height: 64px;
}

@media (max-width: 700px) {
  .nav--right {
    display: none;
    right: 40px;
    width: 30vw;
    border: 5px solid red;
  }
}

@media (max-width: 700px) {
  .burger {
      position: absolute;
      right: 20px;
      cursor: pointer;
    }
}

@media (min-width: 700px) {
  .burger {
      display: none;
    }
}


.open--nav {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 65px;
  right: 0;
  top: 0;
  width: 80vw;
  padding-left: 5%;
  padding-top: 15%;

  /* width: 360px; */
  height: 900px;
  /* left: 68px; */
  z-index: 1;
}

.open--nav a {
  color: black;
}

.links--container {
  display: flex;
  flex-direction: column;
  /* margin-top: 0; */
  height: 500px;
  gap: 20px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
    height: 64px;
    cursor: pointer;
}

.link:hover {
  background: #FDEAD7;
}

.open--nav a {
  text-decoration: none;
}

.nav--right input {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    width: 559px;
    height: 64px;
    border-bottom: 1px solid #D0D0D5;
}


.nav--right a {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 122px;
    height: 56px;
    border: 1px solid #EF6820;
    border-radius: 8px;
  color: white;
  background-color:#EF6820;
  /* border-color: #EF6820; */
  text-decoration: none;
}

/* Hero -- Heading  */

.hero--heading {
  width: 80vw;
  margin-top: 100px;
  margin-left: auto;
    margin-right: auto;
}

@media (max-width: 700px) {
  .hero--heading {
    margin-top: 100px;
  }
}

.hero--heading h1 {
  font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 96px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #2B2A30;
}

@media (max-width: 700px) {
  .hero--heading h1 {
    font-size: 56px;
  }
}

@media (max-width: 400px) {
  .hero--heading h1 {
    font-size: 28px;
    line-height: 36px;
  }
}



.paragraf {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    /* position: absolute; */
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    margin-top: 100px;
}

@media (max-width: 1315px) {
  .paragraf {
    height: 140px;
    /* margin-bottom: 500px !important; */
  }
}

@media (max-width: 1200px) {
  .paragraf {
    height: min-content;
    gap: 56px;
  }
}

@media (max-width: 700px) {
  .paragraf {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: min-content;
    gap: 56px;
    /* margin-left: auto; */
    margin-right: auto;

  }
}



@media (max-width: 500px) {
  .paragraf {
    margin-top: 50px !important;
  }
}


.paragraf p {
  width: 80vw;
    height: 48px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.025em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #2B2A30;
    text-align: center;
}

@media (max-width: 1000px) {
  .paragraf p {
    width: 80vw;
    height: 28px;
  }
}

@media (max-width: 650px) {
  .paragraf p {
    height: min-content;
  }
}

@media (max-width: 400px) {
  .paragraf p {
    font-size: 14px;
      line-height: 20px;
  }
}


.fig--container {
  border: 1px solid white;
}

@media (max-width: 650px) {
  .fig--container {
    margin-top: 150px;

  }
}

figure {
  display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0px;
    gap: 32px;
    /* position: absolute; */
    height: 692px;
    /* left: 5.29%; */
    /* right: 5.49%; */
    margin-top: 114px;
    background: #F3F3F4;
    border-radius: 8px;
    /* margin-left: 15%; */
    width: 70vw;
    margin-right: auto;
    margin-left: auto !important;
}

@media (max-width: 1315px) {
  figure {
    display: flex;
    /* position: absolute; */
    margin-top: 200px;
  }
}

@media (max-width: 650px) {
  figure {
    margin-top: 80px;
    height: 400px;
  }
}

@media (max-width: 600px) {
  figure {
    height: 492px;
  }}

  @media (max-width: 375px) {
    figure {
      height: 390px;
      width: 85vw;
      margin-top: 0px;
    }
  }



figure img {
  width: 100%;
    height: 588px;
    /* background: url(image.png); */
    border-radius: 8px;
}

@media (max-width: 1315px) {
  figure img {
    display: flex;
    /* position: absolute; */
    /* margin-top: 1800px !important; */
  }
}

@media (max-width: 650px) {
  figure img {
    height: 388px;
  }
}

@media (max-width: 375px) {
  figure img {
    height: 280px;
  }
}



figcaption {
  width: 100%;
    height: 72px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.025em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #565560;
    /* margin-left: -100px; */
}

@media (max-width: 600px) {
  figcaption {
    font-size: 18px;
    text-align: left;
  }
}


.article {
  padding-bottom: 100px;
}

article {
  /* width: 60vw; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
    /* position: absolute; */
      height:min-content;
      margin-top: 160px;
}

@media (max-width: 375px) {
  article {
    width: 80%;
    margin-top: 80px;
  }
}


article p {
  /* position: absolute; */
    height:fit-content;
    /* left: 12.9%; */
    /* right: 12.9%; */
    top: 1010px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #565560;
}

@media (max-width: 375px) {
  article p {
    font-size: 16px;
      line-height: 24px;
  }
}


.footer {
  width: 100vw;
}

@media (max-width: 1500px) {
    .footer {
        width: 100vw;
        /* margin-top: 100px; */
      }
}

footer {
  /* position: absolute; */
  width: 100%;
    height: 653px;
    margin-left: 0;
    margin-right: 0;
    bottom: 0px;
    /* padding: 20%; */
    color: white;
    /* z-index: 10; */
}

@media (max-width: 600px) {
  footer {
    height: 1200px;
  }
}


div.footer--top {
  width: 100%;
  height: 20%;
  background-color: #F2E7D5;
}

@media (max-width: 600px) {
  div.footer--top {
    width: 100%;
      height: 10%;
      background-color: #F2E7D5;
      /* z-index: 9; */
  }
}


.bottom {
  width: 100%;
  height: 90%;
  padding: 4% 8% 8% 8%;
background-color: #B93815;
}


.footer--head {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
}

@media (max-width: 600px) {
  .footer--head {
    display: flex;
    flex-direction: column;
  }
}


.footer--head--left {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}


.footer--head--left img {
  gap: 4px;
    /* position: absolute; */
    width: 160px;
    height: 48px;
    /* left: 81px; */
    /* top: 144px; */
}

.footer--links--left {
  display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
  
    /* position: absolute; */
    width: 40vw;
    height: 28px;
    /* left: 81px; */
    /* top: 228px; */
}

@media (max-width: 900px) {
  .footer--links--left {
    gap: 10px;
  }

}

@media (max-width: 600px) {
  .footer--links--left {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
}


.footer--head--left a {
  text-decoration: none;
  color: white;
  margin-top: 30px;
}

.footer--head--right {
  display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* padding: 0px; */
    gap: 40px;
  
    /* position: absolute; */
    width: 30vw;
    /* height: 108px; */
    /* left: 1089px; */
    /* top: 144px; */
}

@media (max-width: 600px) {
  .footer--head--right {
    margin-top: 550px;
    width: 100%;
  }
}


.app--stores {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  gap: 40px;
  
    /* position: absolute; */
    width: 100%;
    /* height: 108px; */
}

.apple--app {
  width: 50%;
}

.apple--app img{
  width: 100%;
  height: 100%;
}

.google--app {
  width: 50%;
}

.google--app img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .app--stores {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .app--stores img {
    width: 100%;

  }
}

hr {
  margin-top: 100px;
}


.footer--foot {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 0;
  margin-top: -150px !important;
  padding-bottom: 5%;
}

@media (max-width: 600px) {
  .footer--foot {
    margin-top: 50px !important;
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: flex-start;
    /* padding-bottom: 15% !important; */
  }
}

@media (max-width: 900px) {
  .footer--foot {
    padding-bottom: 20%;
  }
}


.footer--foot--left {
  margin-right: auto;
}

@media (max-width: 600px) {
  .footer--foot--left {
    position: absolute;
    margin-top: 80px;
  }
}

@media (max-width: 375px) {
  .footer--foot--left p {
    font-size: 14px;
  }
}


.footer--foot--right {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  gap: 50px;
  /* width: 30vw; */
}

@media (max-width: 1100px) {
  .footer--foot--right {
    width: 30vw;
  }
}


.footer--foot--right--images {
  display: flex;
  flex-direction: row;
  width: 150px;
}

@media (max-width: 1100px) {
  .footer--foot--right--images p {
    display: none;
    width: 20px;
  }
}

.footer--foot--right--images p:nth-last-child() {
  display: flex;
  flex-direction: row;
  width: 100px;
}






























